*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
header{
    background-color: rgba(141, 78, 78, 0.637);
    padding: 15px;
    border-bottom: 40px;
    box-shadow: 0 0 5px red;
}
header li{
    display: inline;
    font-size: 25px;
    margin-left: 30px;
    padding-left: 30px;
    float:right;
    position: relative;
}
header li a{
    color: rgb(10, 1, 1);
    text-decoration: none;
    padding: 30px;
}
header li a:hover{
    color: white;
    background-color: rgba(5, 5, 204, 0.877) auto;
}
header li#home a{
    color: rgba(255, 255, 255, 0.842);
    background-color: rgba(5, 5, 204, 0.877);
}
header ul img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
}
header ul h1{
    font-size: 30px;
    margin-left: 80px;
    text-align: left;
    position: absolute;
    top: 20px;
}
.div{
    background-image: url(contactx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    padding-top: 85px;
}
.div h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.div p{
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
}
.img_slide{
    display: flex;
    margin: 50px;
}
.img_slide .slide1{
    background-color: royalblue;
    margin-top: 30px;
    padding-top: 40px;
}
.img_slide .slide1 h2{
    font-size: 40px;
    color: red;
}
.img_slide .slide1 p{
    font-size: 25px;
}
.img_slide .slide1 img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.img_slide .slide2{
    background-color: rgb(235, 22, 40);
    margin-top: 30px;
    padding-top: 40px;
}
.img_slide .slide2 h2{
    font-size: 40px;
    color: rgb(0, 47, 255);
}
.img_slide .slide2 p{
    font-size: 25px;
}
.img_slide .slide2 img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    
}



