*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(48, 41, 41);
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 55px;
    font-style: oblique;
    font-weight: 500;
    text-align: center;
}
.ceddy4{
    text-align: center;
}
.nav-menu{
    background-color: rgba(24, 18, 22, 0.623);
    position: absolute;
    width: 100%;
    height: 60px;
}
.nav-menu ul li{
    float: left;
    margin-right: 100px;
    list-style-type:none;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 20px;
    padding-left: 60px;
}
.nav-menu ul li a{
    text-decoration: none;
    color: rgb(221, 221, 240);
}
.bako{
    padding-top: 85px;
    background-image: url(sittingRoom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
.nav-menu a:hover{
    color: rgba(204, 6, 6, 0.76);
}
.bako p{
    font-size: 50px;
}

.about{

    padding-top: 85px;
    background-image: linear-gradient(rgb(150, 5, 5),rgb(34, 4, 4)),url(cigger.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 230px;

}
.services{

    padding-top: 85px;
    background-image: url(ceddy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 230px;
}
.contact{

    padding-top: 85px;
    background-image: url(contactx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 230px;
}
.client{

    padding-top: 85px;
    background-image: url(wht.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 230px;
}
.overrall-container{
     
    display: flex;
    margin-top: 50px;
    margin: 50px;
}
.about-me img{
    border-radius: 10%;
    height: 300px;
    width: 250px;
}
.visual h3{
     margin-top: 10px;
     font-size: 30px;
     color: rgb(224, 100, 100);
     margin: 10px;
}
.image-container .image-container1,img{

    height: 300px;
    width: 250px;
    border-radius: 10%;
    margin: 10px;
    cursor: pointer;
}

.image-container .image-container1,img:hover .text-container.text-container1,h3{
    box-shadow: 10px 20px 30px rgba(235, 70, 70, 0.664);
    transition: 0.4s ease;
}
.text-container.text-container1,h3{

    height: 300px;
    width: 250px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 10px;
    background-color: rgba(54, 5, 5, 0.459);
    position: relative;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10%;
}
.visual p{
    font-size: 20px;
    color: rgb(224, 100, 100);
    margin: 10px;
}
.text-container.text-container1,h3{

    font-size: 30px;
    color: rgb(253, 114, 114);
    margin: 10px;
}
.contact-details{
    padding-top: 60px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
}
.contact-text{

    margin-left: 40px;
    margin-right: 40px;
}
.contact-text, h2, p{
    font-size: 35px;
    line-height: 40px;
}
.contact-text h2{
    font-size: 60px;
    color: rgb(218, 63, 63);
    margin-top: 40px;
    margin-bottom: 40px;
}
.contact-form{
    margin-top: 35px;
}
.contact-form h2{
    font-size: 60px;
    color: rgb(218, 63, 63);
    padding-bottom: 20px;
}
.contact-form label{
        font-size: 25px;
}
.contact-form input{
    width: 90vh;
    border: none;
    border-bottom: 2px solid rgb(236, 87, 87);
    border-radius: 10%;
    height: 30px;
}
.contact-form textarea{
    height: 130%;
    width: 100%;
}
#button-submit{

    height:30px;
    width: 100px;
    border-radius: 15px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
    background-color: rgb(219, 61, 61);
}
.footer{
    background-color: rgba(139, 13, 13, 0.425);
    height: 350px;
}
.footer li a{
    text-decoration: none;
    font-size: 50px;
    color: rgb(238, 158, 158);
    list-style-type: none;
    display: flex;
}
.footer ul{
    margin: 100px;
    list-style-type: none;
}
.footer li a:hover{
    color: rgb(180, 6, 6);
}
.footer p{
    padding-left: 30px;
    color:aliceblue;
    font-size: 20px;
}